




   <!-- <section>

    <div id="formAddRestaurant">
       <div id="formBx">

          <h2 style="color: whitesmoke;">Add New Restaurant:</h2>


          <form [formGroup]="addform">
          <mat-form-field appearance="fill"><input matInput type="text" name="restaurantId"
             placeholder="Enter Restaurant Id" formControlName="restaurantId" required
            ></mat-form-field>
          <br>
          <mat-form-field appearance="fill"><input matInput type="text" name="location"
             placeholder="Enter location " formControlName="location" required></mat-form-field>
          <br>
          <mat-form-field appearance="fill"><input matInput type="text" name="description"
             placeholder="Enter description " formControlName="description" required></mat-form-field>
          <br>
          <mat-form-field appearance="fill"><input matInput type="text" name="imageUrl"
             placeholder="ImageUrl of the restaurant" formControlName="imageUrl" required></mat-form-field>
          <br>
          <mat-form-field appearance="fill"><input matInput type="text" name="restaurantName"
             placeholder="Enter Restaurant Name" formControlName="restaurantName" required></mat-form-field>
          <br>
          <mat-form-field appearance="fill"><input matInput type="number" name="rating" placeholder="Rating"
             formControlName="rating" required></mat-form-field>
          <br>
          <button type="submit" mat-raised-button color="accent" [disabled]="!addform.valid" (click)="addRestaurant()">Add
          Restaurant</button>
          <br><br>

          </form>
       </div>
    </div>

 </section> -->


 <!-- <section>

  <div id="formAddRestaurant" class="form-container">
      <div id="formBx" class="form-box">

          <h2 class="form-title">Add New Restaurant:</h2>

          <form [formGroup]="addform">
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="restaurantId" placeholder="Enter Restaurant Id"
                      formControlName="restaurantId" required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="location" placeholder="Enter location " formControlName="location"
                      required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="description" placeholder="Enter description "
                      formControlName="description" required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="imageUrl" placeholder="ImageUrl of the restaurant"
                      formControlName="imageUrl" required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="restaurantName" placeholder="Enter Restaurant Name"
                      formControlName="restaurantName" required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="number" name="rating" placeholder="Rating" formControlName="rating"
                      required>
              </mat-form-field>
              <br>

          </form>
      </div>

      <!--
      <div id="formBxFoodItem" class="form-box">

          <h2 class="form-title">Add New Food Item:</h2>

          <form [formGroup]="addform">

              <mat-form-field appearance="fill">
                  <input matInput type="text" name="itemId" placeholder="Item Id" formControlName="itemId" required>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <input matInput type="text" name="itemName" placeholder="Item Name" formControlName="itemName"
                      required>
              </mat-form-field>

              <br>
              <mat-form-field appearance="fill">
                <input matInput type="text" name="imageUrl" placeholder="ImageUrl of the foodItem"
                    formControlName="imageUrl" required>
            </mat-form-field>
            <br>

              <mat-form-field appearance="fill">
                  <input matInput type="number" name="price" placeholder="Price" formControlName="price" required>
              </mat-form-field>
              <br>

              <button type="submit" mat-raised-button color="accent" [disabled]="!addform.valid"
                  (click)="addRestaurant()">Add Food Item</button>
          </form>
      </div>
  </div>

</section> -->


<section>

  <div id="formAddRestaurant">
     <div id="formBx">

        <h2 style="color: whitesmoke;">Add new restaurant..</h2>


        <form [formGroup]="addform">
        <mat-form-field appearance="fill"><input matInput type="text" name="restaurantId"
           placeholder="Enter Restaurant Id" formControlName="restaurantId" required
          ></mat-form-field>
        <br>
        <mat-form-field appearance="fill"><input matInput type="text" name="location"
           placeholder="Enter location " formControlName="location" required></mat-form-field>
        <br>
        <mat-form-field appearance="fill"><input matInput type="text" name="description"
           placeholder="Enter description " formControlName="description" required></mat-form-field>
        <br>
        <mat-form-field appearance="fill"><input matInput type="text" name="imageUrl"
           placeholder="ImageUrl of the restaurant" formControlName="imageUrl" required></mat-form-field>
        <br>
        <mat-form-field appearance="fill"><input matInput type="text" name="restaurantName"
           placeholder="Enter Restaurant Name" formControlName="restaurantName" required></mat-form-field>
        <br>
        <mat-form-field appearance="fill"><input matInput type="number" name="rating" placeholder="Rating"
           formControlName="rating" required></mat-form-field>
        <br>
        <button type="submit" mat-raised-button color="accent" [disabled]="!addform.valid" (click)="addRestaurant()">Add
        Restaurant</button>
        <br><br>
         
        </form>
     </div>
  </div>

</section>
