<!-- <app-header></app-header> -->
<!-- <div class="background">
    <h1>Admin Dashboard:  </h1>

    <button mat-raised-button   (click)="add()" class="addRes">Add Restaurant</button>


</div> -->


<!-- <app-header></app-header> -->
 <!-- <app-header></app-header> -->
<div class="background">
  <h1>Admin Dashboard:</h1>
<div class="shape">
  <button mat-raised-button color="primary" (click)="add()" id="addRes">Add New Restaurant</button>
  <hr>
 <button  mat-raised-button color="accent" (click)="addFoodItem()" id="addItem">Add New Food-item</button>
</div>
</div>


